@import "./colours";


@font-face {
    font-family: 'Lato';
    src: url(../../public/fonts/Lato-Thin.ttf) format('ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url(../../public/fonts/Lato-Regular.ttf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(../../public/fonts/Lato-Bold.ttf) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url(../../public/fonts/Lato-Black.ttf) format('ttf');
    font-weight: 900;
}