@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

  .header {
    color: green;
    font-size: 5rem;
    font-weight: 900;

    @include tablet {
      color: blue;
      font-size: 10rem;
    }

    @include desktop {
        color: pink;
        font-size: 20rem;
    }
  }  