@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

  .home_header {
    color: yellow;
    font-size: 5rem;

    @include tablet {
      color: blue;
      font-size: 10rem;
    }

    @include desktop {
        color: pink;
        font-size: 30rem;
    }
  }  