@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colours";
@import "../styles/partials/fonts";

.hero {
background-color: black;

  &_header {
    text-shadow: 1rem 1rem 0 transparent, 0 0 0.5em white;
    background: -webkit-linear-gradient(#833ab4, #fd1d1d, #fcb045);
    // -webkit-text-stroke: 2px white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 900;

    @include tablet {
      font-size: 10rem;
    }

    @include desktop {
        font-size: 15rem;
    }
  }

  &_subheader {
    color: white;
  }
}