@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colours";
@import "../styles/partials/fonts";

.hero {
padding: 3rem 2rem;
max-width: 80rem;

  @include tablet {
    padding: 4rem;
  }

  &_gradient {
    // gradient text colour
    background: -webkit-linear-gradient(#833ab4, #fd1d1d, #fcb045);
    // shadow behind text
    text-shadow: 1rem 1rem 0 transparent, 0 0 0.5em darkgray;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // the commented out code is a white outline
    // -webkit-text-stroke: 2px white;
  }

  &_header {
    font-size: 3.5rem;
    font-weight: 900;
    padding: 1.5rem 0;

      @include tablet {
      font-size: 9.5rem;
      padding: 2rem 0;
      }

      @include desktop {
        font-size: 12rem;
      }
  }

  &_subheader {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 6rem 0 3rem 0;

      @include tablet {
        font-size: 3rem;
        padding: 8rem 0 4rem 0;
      }

      @include desktop {
        font-size: 4rem;
      }
  }
}