@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colours";
@import "../styles/partials/fonts";

.hero {
padding: 2.5rem 2rem;
display: flex;
flex-direction: column;

  @include tablet {
    padding: 3rem;
  }

  &_gradient {
    // gradient text colour
    background: -webkit-linear-gradient($gradient1, $gradient2, $gradient3);
    // shadow behind text
    text-shadow: 0 0 0 transparent, 0 0 0.5em $shadow;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // the commented out code is a navy outline (to match the shaddow)
    // -webkit-text-stroke: 0.05rem navy;
  }

  &_header {
    font-size: 3.25rem;
    font-weight: 900;
    padding: 1.5rem 0;

      @include tablet {
      font-size: 9.5rem;
      padding: 1rem 0;
      }

      @include desktop {
        font-size: 12rem;
        padding: 0 0 1rem 0;
      }
  }

  &_subheader {
    font-size: 2rem;
    font-weight: 400;
    padding: 3rem 0 0 0;

      @include tablet {
        font-size: 3rem;
        padding: 8rem 0 4rem 0;
      }

      @include desktop {
        font-size: 4rem;
      }
  }

  &_links {
    align-items: center;
    display: flex;
    justify-content: center;

    @include tablet {
    position: absolute;
    top: 4rem;
    right: 2rem
    }
  }

  &_links_tablet {

    @include tablet {
    display: flex;
    flex-direction: row;
    padding: 0;
    }
  }

  &_link {
    width: auto;
    height: 5rem;

    @include tablet {
      height: 6rem;
    }

    @include desktop {
      height: 7rem;
    }
  }
}