@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colours";
@import "../styles/partials/fonts";

.projects {
    padding: 1rem 2rem;

        @include tablet {
            padding: 1rem 2rem;
        }

        @include desktop {
            padding: 1rem 13rem;
        }

    &_header {
        color: $main-text;
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    &_all {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: nowrap;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    &_one {
        color: $main-text;
        padding: 1rem;
        border: 0.075rem solid $accent;
        border-radius: 1rem;

        @include tablet {
            width: 48%;
        }
    }

    &_title {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        padding: 0 0 1rem 0;
        min-height: 3.5rem;
        max-height: 3.5rem;
    }    
    
    &_image {
        width: 100%;
        height: auto;
        padding: 0 0 1.5rem 0;
    }

    &_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 1rem 0;
        gap: 1rem;
    }

    &_link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: $main-text;

        &_hidden {
            display: none;
        }

        &_image {
            width: 3rem;
            height: auto;
        }

        &_text {
            color: white;
            max-width: 2rem;
        }
    }

    &_live {
        width: 4rem;
        text-align: center;
        color: $main-text;
        display: flex;
    }

    &_description {
        padding: 0 0 1rem 0;
    }

    &_hide {
        display: none;
    }

}