@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colours";
@import "../styles/partials/fonts";

.projects {
    padding: 1rem;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1rem 13rem;
    }

    &_header {
        color: white;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    &_one {
        color: white;
    }
}