@import "./partials/mixins";
@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/fonts";

.stack {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1rem 13rem;
    }
    
    &_header {
        color: lightgray;
        font-size: 1.5rem;
        padding: 1rem;
    }

    &_logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    &_logo {
        width: 4rem;
        height: auto;

        @include tablet {
            width: 6rem;
            height: auto;
        }

        @include desktop {
        width: 7.5rem;
        height: auto;
        }
    }
}